body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(44, 44, 44);
    flex-direction: column;
    margin-bottom: 50px;
  }
  
h2 {
  margin-top: 50px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

#chartdiv {
  width: 80%;
  height: 600px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 15px;
  margin-bottom: 50px;
}

canvas {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}

a {
  margin-top: 20px;
  text-decoration: underline;
  color: white;
}

.github {
  margin-top: 50px;
}