body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    background-color: rgb(44, 44, 44);
    flex-direction: column;
  }
  
h2 {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

#chartdiv {
  width: 80%;
  height: 600px;
  border: 1px solid rgb(223, 223, 223);
}

  